html{
    font-size: 16px;
}
body{
height: 100%;
width: 100%;
    

    background-color: rgb(22,37,57);
}
a {
    color: aliceblue;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}



.menu{
    height: 12.5%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
    color: aliceblue;
    position: sticky;
    top:2px;
    background-color: rgb(22,37,57);
    z-index: 1;
}

.logo{

margin-left: 3rem;        
}
.logo img {
  height: 100%;
max-width: 100%;    
  display: block;

}
.navItems{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: auto;
}
.navItems span{
    align-content: flex-end;
    margin-left: 0;
    margin-top: 35px;
    font-size: 1.4rem;
    font-family: 'Open Sans',sans-serif;
}

.title{
    margin-top: 50px;
    text-align: center;
    width: 100vw;
    font-size: 40px;
    background: rgb(255,255,255,0.7);
}

#title-desc{
padding: 20px;
    
    
}
.pic-grid{
    margin-top: 10px;
height: 200px;
width: 100vw;
    width: 100%;
    margin-left: 25px;

}
.property-slider{
    background-image: url('images/building.jpg');
    height: 600px;
    background-size: cover;
  background-position: center;
}

.pic-grid img{
height: 180px;
width: 180px;
}


.property-description{
margin-top: 200px;
    width: 100%;
    text-align: left;
    height: 390px;
    color: black;
    background: rgba(255,255,255,0.8);
}
.contactsec{
    display: grid;
    grid-template-areas: 'title title title title'
                         'location location location location'
                         'call call call call'
                         'email email email email';
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    color: aliceblue;
    margin-top: 1rem;
    
    bottom: 30px;
    width: 100%;
}
#contactTitle{
    grid-area: 'title';
    text-align: center;
    margin: auto;
    width: 100vw;
     font-family: 'Open Sans',sans-serif;
     background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    color: black;
}
.location{
    grid-area: 'location';
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 10% 70%;
    grid-auto-rows: auto;
    padding: .55rem;
    margin-left: 10rem;
    
    
}
.call{
    grid-area: 'call';
    grid-column: 1/-1;
    display: grid;
      grid-template-columns: 10% 70%;
    grid-auto-rows: auto;
    padding: .55rem;
    margin-left: 10rem;
    
}
.email{
    grid-area: 'email';
    grid-column: 1/-1;
    display: grid;
      grid-template-columns: 10% 70%;
    grid-auto-rows: auto;
    padding: .55rem;
    margin-left: 10rem;
}
.footer{
    width: 100%;
    width: 100%;
    color: black;
    margin-bottom: 0;
    background-color: rgb(255,255,255,0.7);
    text-align: center;
}
